html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgb(236, 242, 245) 0%,
    1.3089%,
    rgb(234, 243, 245) 2.6178%,
    17.4084%,
    rgb(232, 241, 242) 32.199%,
    36.2565%,
    rgb(229, 241, 242) 40.3141%,
    45.0262%,
    rgb(227, 240, 242) 49.7382%,
    51.8325%,
    rgb(226, 239, 245) 53.9267%,
    57.199%,
    rgb(224, 239, 245) 60.4712%,
    62.9581%,
    rgb(220, 237, 245) 65.445%,
    66.2304%,
    rgb(220, 237, 245) 67.0157%,
    68.0628%,
    rgb(218, 236, 244) 69.1099%,
    75.1309%,
    rgb(214, 233, 240) 81.1518%,
    82.5916%,
    rgb(211, 231, 240) 84.0314%,
    84.4241%,
    rgb(212, 231, 239) 84.8168%,
    86.911%,
    rgb(210, 230, 239) 89.0052%,
    94.5026%,
    rgb(207, 227, 236) 100%
  );
}
